@font-face {
  font-family: "Nekst";
  src: url("../public/fonts/Nekst-Regular/Nekst-Regular.eot");
  src: local("Nekst"), local("Nekst-Regular"), url("../public/fonts/Nekst-Regular/Nekst-Regular.woff2") format("woff2"), url("../public/fonts/Nekst-Regular/Nekst-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nekst";
  src: url("../public/fonts/Nekst-Black/Nekst-Black.eot");
  src: local("Nekst Black"), local("Nekst-Black"), url("../public/fonts/Nekst-Black/Nekst-Black.woff2") format("woff2"), url("../public/fonts/Nekst-Black/Nekst-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Regular/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../public/fonts/Nekst-Regular/Nekst-Regular.woff2") format("woff2"), url("../public/fonts/Nekst-Regular/Nekst-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Bold/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../public/fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"), url("../public/fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  padding-left: 50px;
}
.container__inputs {
  display: flex;
  padding-top: 100px;
}
.container__bottom {
  display: flex;
  align-items: end;
}

.title {
  padding: 100px 500px 0 0;
  font-family: "Nekst";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
}

.form {
  position: relative;
}
.form__box {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.form__title {
  color: rgb(87, 87, 87);
  padding-bottom: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  width: 500px;
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: rgb(87, 87, 87);
  background-color: #F3F3F4;
  border-radius: 10px;
  padding: 20px;
  border: none;
}
.form__input:focus-visible {
  outline: none;
}
.form__span {
  position: absolute;
  right: 11%;
  top: 25%;
  color: rgb(87, 87, 87);
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.result {
  margin: 100px 0 0 50px;
  display: flex;
  flex-direction: column;
}
.result__description {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #575757;
}
.result__value {
  padding-top: 10px;
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #333333;
}

.btn {
  margin-left: 32%;
  padding: 15px 60px;
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  background: #FF9514;
  border-radius: 40px;
  cursor: pointer;
  border: none;
}

.range {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 80%;
  left: 20px;
  background-color: rgb(255, 149, 20);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border-radius: 10px;
  border: 1px solod rgb(255, 149, 20);
  background-color: rgb(255, 149, 20);
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.range:focus-visible {
  outline: none;
}/*# sourceMappingURL=index.css.map */